@font-face {
  font-family: "virtuous-slab-regular";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Virtuous-Slab.otf") format("opentype");
}
